/* CSS Document */

#Container{
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;
margin-top:11px;
margin-bottom:21px;
border:thick;



}

#Header{
height:200px;
width:1000px;
background-color:pink;
/*border-style:solid;*/
}
#menu{
width:1000px;
height:60px;
background-color:#000;
}
.Mainbody{
    width:1000px;
	height:400px;
	background-color:#0099FF;
	float:right;
	/*background-image:url(../image/image5.jpg);*/
}
#Sidebar1{
	width:150px;
	height:400px;
	background-color:blue;
	float:left;
}
#Sidebar{
	width:150px;
	height:400px;
	background-color:blue;
	float:right;
}
.Footer{
	height:140px;
	margin-bottom:21px;
	background:#000066;
	width:1000px;
	
	clear:both;
	width:1000;
}
